body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
}

.title h1 {
    margin-top: 0;
    color: darkorange;
    text-align: center;
    text-shadow:2px 2px lightgrey;
}

.home-link{
    color: inherit;
    text-shadow: inherit;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
    transition: .5s;
    color: red;
}

.card {
    width: 800px;
    background-color: darkslategray;
    padding: 16px;
    /* align center */
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0,0,0, .5);
}

#main-image {
    display: inline-block;
    width: 300px;
    height: auto;
    border: 2px solid white;
    vertical-align: top;
}

.directory {
    margin-top: 0;
    display: inline-block;
    background-color: wheat;
    list-style: none;
    line-height: 2;
    border: 2px solid black;
    border-radius: 8px;
    width: 400px;
}

.recipe-image {
    display: inline-block;
    height: 300px;
    width: auto;
    border-radius: 8px;
}

.recipe-image-description {
    text-align: center;
}

.section-header,
.list {
    margin: 25px;
}

.section-header {
    background-color: wheat;
    padding: 5px 10px;
}

.ingredients {
    list-style-type: square;
}

.steps li:not(:last-child) {
    margin-bottom: 15px;
}